* {
  margin: 0;
  padding: 0;
  
  
}
/************
  App
************/
.noActs {
  text-align: center;
  margin: 120px auto;
  font-size: 2rem;
  color: white;
  
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  background: black;
  
}

/************
  Header
************/
img {
  width: 100px;
  height: 100px;
  padding: 20px;
  
}
.header {
  display: flex;
}
h1 {
  margin-top: 60px;
  font-style: italic;
  font-family: cursive;
}

/************
  List
************/

.list {
  display: inline-flex;
  min-width: 200px;
  min-height: 100px;
  padding: 20px;
  margin: 30px;
}
.list label h4 {
  font-weight: bold;
}

.list:nth-child(4n) {
  background: linear-gradient(90deg, 
    yellowgreen 0%,
    green 100%
  )
}
.list:nth-child(4n + 1) {
  background: linear-gradient(90deg, 
    cyan 0%,
    rgb(51, 97, 97) 100%
  )
}
.list:nth-child(4n + 2) {
  background: linear-gradient(90deg, 
    rgb(255, 118, 20, 1) 0%,
    rgb(209, 98, 18) 100%
  )
}
.list:nth-child(4n + 3) {
  background: linear-gradient(90deg, 
    rgb(226, 16, 146) 0%,
    purple 100%
  )
}

.list input[type='checkbox'] {
  margin-right: 15px;
  
}

.list input[type='checkbox']:focus + label {
  text-decoration: underline;
}

.list svg {
  color: black;
}
.list svg:focus,
.list svg:hover {
  color: red;
  width: 38px;
  height: 38px;
}
.list input[type='checkbox'] {
  width: 38px;
  height: 38px;
}
.list input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: gray;
}
.list label {
  font-family: monospace;
  line-height: 10px;
  font-weight: bold;
}

.list label p {
  font-family: cursive;
}


/************
  FormArea
************/
.formArea {
  margin: 10px 10% 70px;
  padding: 25px 50px;
}
.formArea label {
  font-size: 14px;
}

/************
  Footer
************/
.footer {
  
  text-align: center;
  position: absolute;
  width: 100%;
  height: 20px;
  
}
.footer p {
  letter-spacing: 0.25rem;
  font-weight: bold;
  color: white;
  
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: black;
}


/************
  Timer
************/
.timer {
  margin: 30px 25%;
  padding: 10px 30px;
   
    
}
@media screen and (min-width: 768px) {
  .timer {
    margin: 30px 35%;
    padding: 10px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .timer {
    margin: 30px 35%;
    padding: 10px 30px;
  }
  
}
.btn {
  text-align: center;
  margin: 20px auto;
  display: flex;
}
.timer button {
  width: 3rem;
  height: 3rem;
  
}
.timer h1 {
  font-family: monospace;
  font-style: normal;
  text-align: center;
  font-weight: bolder;
  font-size: 4rem;
  
}
.timer form {
  background-color:#DBEEFF;
}
